@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Jordan Tempest's Website";
}


<center>
    <br /><br />
    <h1>Jordan T. Bateman</h1> <br />
    <h4>I got married in september but I haven't changed my name yet...</h4>
    <h2>You might know me as Jordan Tempest :)</h2>
    <br />
    <img src="img/me.JPG" alt="Jordan Holding a Lobster in Maine" width="300">
    <p>I love to travel! This is a photo taken in Maine</p>
    <br />
    <p>
        I am really excited to learn more about application development this semester in IS413.
        I was drawn to the IS major by the immense opportunity for design and creativity.
        I really enjoy website design and I look forward to learning more. My hopes for this semester are to gain a
        greater understanding of ASP.net and github. I also want to improve my web development skills and feel more comfortable with connecting databases to websites.
        I am excited to get to work!
    </p>
    <br />
</center>

<p>Top #3 jobs I am most interested in pursuing when I graduate</p>
<ol>
    <li> Project Manager</li>
    <li> UX Designer</li>
    <li> Cyber Security Consultant</li>
</ol>
<br />
